#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 40px;
}

.high-score {
    font-size: 28px;
    margin-bottom: 5px;
}

.high-score:hover {
    transform: scale(1.025);
}